/* Provide the width for all tweets */
section.all-tweets {
  
  width: 100%;
  
}

/* General positioning and outlines for the tweets */
section article {
  
  outline-width: 4px;
  outline-style: solid;
  outline-color:  black;
  padding: 25px;
  height: inherit;
  width: 100%;
  word-break: break-all;
  margin-top: 25px;
  margin-bottom: 10px;
  background-color: #bfd32e;
  
}

/* Hover effect for the tweets */
section article:hover {

  background-color: blanchedalmond;
  box-shadow: 20px 20px 30px black;

}

/* Provide spacing in the header */
section article header {

  display: flex;
  justify-content: space-between;

}

/* Ava pic and ID positioning */
section article header div.picId {

  display: flex;

}

/* Positioning for the header and it's contents */
section article header content {

  display: flex;
  align-items: center;
  flex-direction: center;

}

/* Aligns the footer and whatever is inside with the header */
section article footer {

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-style: solid;
  border-top-width: 3px; 
  border-top-color: black;
  margin-top: -10px;

}

/* Hover effects for all three icons */
.fa-flag:hover {
  
  color: chocolate;

}

.fa-retweet:hover {

  color: chocolate;

}

.fa-heart:hover {

  color: chocolate;

}