section.all-tweets {
  
  display: flex;
  width: 100%;
  flex-direction: column;

}

section article {
  
  outline-width: 4px;
  outline-style: solid;
  outline-color:  black;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: inherit;
  height: 235px;
  margin-top: 25px;
  background-color: #bfd32e;

}

section article:hover {

  background-color: blanchedalmond;
  box-shadow: 20px 20px 30px black;

}

section article header {

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

section article header div.picId {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;


}

section article header content {

  display: flex;
  align-items: center;
  flex-direction: center;

}

section article footer {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top-style: solid;
  border-top-width: 3px; 
  border-top-color: black;
  margin-top: -10px;

}

.fa-flag:hover {
  
  color: chocolate;

}

.fa-retweet:hover {

  color: chocolate;

}

.fa-heart:hover {

  color: chocolate;

}