.profile {
  
  z-index: 1;
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  background-color: #4093d6;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");

}

.pic {

  display: flex;

}

.pic-text {

  display: flex;
  color:rgb(194, 143, 33);
  justify-content: center;

}


.name {

  font-weight: normal;

}