/* Profile picture and name positioning */
header.profile {
  
  z-index: 1;
  display: flex;
  height: 400px;
  width: 30%;
  flex-direction: column;
  background-color: #f5b800;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");

}

/* Positioning the picture */
header div.pic {

  display: flex;

}

/* Positioning the text */
header div.pic-text {
  
  margin-top: -20px;
  color:black;
  flex-direction: row;

}


/* Making the last name unbolded for subjective styling p */
header div h2 span.last-name {

  font-weight: normal;

}