nav {
  
  z-index: 2;
  display:flex;
  background-color: #4056a1;
  color: #FFFFFF;
  text-indent: 1.5em;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;

}

/* Navigation => span */
nav span {
  font-family: 'Bungee';
  font-weight: 400;
  flex-direction: column;
  align-items: center;
}

/* Navigation => navbar icon and text */
nav div.navbar-icon {

  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
  margin-right: 20px;
  margin-bottom: -35px;

}

nav div i {

  margin-top: -20px;

}
