/* Css for form area */
section.new-tweet {

  width: 100%;
  margin-top: 20px

}


/* Subjectively decided to leave the errors in the textarea */
section p#length-error {
  
  padding-top: 20px;
  display: none;
  color: red;
  
}

/* Subjectively decided to leave the errors in the textarea */
section p#empty-error {
  
  padding-top: 20px;
  display: none;
  color: red;

}

/* Gives the form more space */
form {

  margin-top: 100px;

}

/* Where you write your tweets */
textarea {

  margin-top: -50px;
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: solid;

}

/* Tweet button grouped with counter to provide space-between & center */
.button-counter {

  display: flex;
  align-items: center;
  justify-content: space-between;

}

/* Tweet button */
button {

  margin-top: 5px;
  background-color: #4056a1;
  color:white;
  font-family: "Bungee";
  padding: 10px 15px;
  margin-bottom: 10px;
  margin-left: 10px;

}

/* The counter (140) */
output {

  font-family: "Bungee";
  margin-right: 10px;

}

/* Once the counter is < 0 */
.neg { color: red; }
