
section.new-tweet {

  display:flex;
  flex-direction: column;
  width: 100%;
  outline-width: 4px;
  outline-style: solid;
  outline-color:  rgb(0, 0, 0);
  background-color: #bfd32e;
  margin-top: 20px

}

section.new-tweet:hover {
  
  background-color: blanchedalmond;
  box-shadow: 20px 20px 30px black;
 
}

main section h4 { /* when you don't call h4, you can scroll */

  margin-bottom: -30px;

}

#length-error {

  display: none;
  color: red;
  
}

#empty-error {

  display: none;
  color: red;

}

form {

  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;

}

textarea {

  margin-top: -50px;
  width: 100%;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  border-bottom: solid;

}

.button-counter {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

button {

  margin-top: 5px;
  background-color: #4056a1;
  flex-direction: row;
  color:white;
  font-family: "Bungee";
  padding: 10px 20px;
  text-align: left;
  justify-content: space-around;
  margin-bottom: 10px;

}

output {

  text-align: right;
  font-family: "Bungee";
  flex-direction: row;
  justify-content: space-around;

}

.neg { color: red; }